{{> menu-navbar active="dashboard"}}

<section class="section">
  <p class="title is-4">Welcome to your dashboard!</p>
   {{> workout-predefinedCards}}

  <!-- Create Your Own Section -->
  <div class="section">
    <p class="title">Create Your Own</p>
    {{> add-workout}} 
    {{> list-workouts}}
   
  </div>
</section>