{{> menu-navbar }}

<section class="section has-background-light">
  <div class="container">

    <h1 class="title is-3">
      {{workout.title}}
    </h1>
    {{> add-exercises}}
    {{> list-exercises}}
  </div>
</section>