<form action="/dashboard/addworkout" method="POST">
  <div class="field">
    <label class="label">Workout Title</label> <input class="input" type="text" placeholder="Enter Workout title" name="title">
  </div>
  <button class="button is-link">Add Workout</button>
</form>