<a href="/" class="title p-3 is-flex is-align-items-center">
  <figure class="image is-128x128">
    <img
    {{!-- Logo generated using ChatGPT (OpenAI), 2026 --}}
      src="/public/images/compound-logo.png" alt="Compound Logo">
  </figure>
</a>