<a href="/" class="title p-3 is-flex is-align-items-center">
  <figure class="image is-128x128">
    <img
      src="/public/images/compound-logo.png"
      class="brand-logo"
      style="transform: translateY(4px);"
    >
  </figure>
</a>