{{!-- For all the workouts displayes, they will have a button that links to the workout details page --}}
<div class="columns is-multiline">
  {{#each workouts}}
    <div class="column is-3">
      <div class="box box-link-hover-shadow has-text-centered">
        <h2 class="title is-5">
          {{title}}
        </h2>

        <a href="/workout/{{_id}}" class="button is-primary">
          <span class="icon is-small">
            <i class="fas fa-folder-open"></i>
          </span>
          <span>Open</span>
        </a>
        <a href="/workout/{{_id}}/edit" class="button is-warning">
          <span class="icon is-small">
            <i class="fas fa-pen"></i>
          </span>
          <span>Edit</span>
        </a>
        <a href="/dashboard/deleteworkout/{{_id}}" class="button is-danger">
          <span class="icon is-small">
      <i class="fas fa-trash"></i>
    </a>
      </div>
    </div>
  {{/each}}
</div>

