<div class="columns is-multiline is-variable is-4">
  {{#each workouts}}
    <div class="column is-3">
      <div class="box has-text-centered">
        <h2 class="title is-5 mb-4">
          {{title}}
        </h2>
        <div class="buttons is-centered">
          <a href="/workout/{{_id}}" class="button is-primary is-rounded">
            Open
          </a>
          <a href="/workout/{{_id}}/edit" class="button is-warning is-rounded">
            Edit
          </a>
          <a href="/dashboard/deleteworkout/{{_id}}" 
             class="button is-danger is-rounded">
            Delete
          </a>
        </div>
      </div>
    </div>
  {{/each}}
</div>