<div class="columns is-multiline">
  {{#each workouts}}
  <div class="column is-3">
    <div class="card is-hoverable">
      <div class="card-content">
        <p class="title is-5">{{title}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>
